{% extends 'base.html' %}

{% block body %}
<div class="p-3">
    <div class="well text-center">
        <h1>Панель управления тестированием чат-ботов</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="p-3"> <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                    data-target="#mymodal">Добавить нового бота</button></div>
            </br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
    
            {% for bot, value1 in data.items() %}
            </br>
            <div class="jumbotron p-2">
                <table class="table">
                    <tr>
                        <td>
                            <h2><img src="{{bot.image}}" width="40px" height="40px"> Чат-бот {{bot.name}}</h2>
                            <a href="" class="btn btn-secondary btn-sm" data-toggle="modal"
                                data-target="#edit{{bot.id}}">Изменить данные бота</a>
                            <a href="/delete/{{bot.id}}" class="btn btn-secondary btn-sm"
                                onclick="return confirm('Вы действительно хотите удалить бота?')">Удалить данные
                                бота</a>
                        </td>
                        <td width="30%">
                            <a href="/tests/{{bot.id}}" class="btn btn-primary btn-lg
                                btn-block">Набор тестов</a>
                          <!--  <a href="/starttests/{{bot.id}}" class="btn btn-success btn-block btn-sm">Начать тестирование</a>
                            <a href="/stoptests/{{bot.id}}" class="btn btn-danger btn-block btn-sm" onclick="return confirm('Вы действительно хотите остановить бота?')">Остановить тестирование</a>
                        -->
                        </td>
                    </tr>
                    {% for row, value2 in value1.items() %}
                        <td>
                        <b>{{row.name}}</b>
                        <div id="n{{row.id}}">
                        {% for log in value2 %}
                            {% if log.text == "Completed successfully" %}
                            <span class="g">{{log.created_date}}> {{ log.text }}</span><br>
                            {% else %}
                            <span class="r">{{log.created_date}}> {{ log.text }}</span><br>
                            {% endif %}
                        {% endfor %}
                        </div></td>
                    </tr>
                    <script>
                    setInterval(function() {
                        $.ajax({
                        url: "/logs_for_index/{{row.id}}",
                        type: "get",
                        success: function(response) {
                        $("#n{{row.id}}").html(response);
                        }
                    });
                    },5000)
                    </script>
                    {% endfor %}
                </table>
            </div>
            <!-- Изменить данные бота-->
            <div id="edit{{bot.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Изменить данные бота</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('update')}}" method="POST">
                                <div class="form-group">
                                    <label>Название/ID бота</label>
                                    <input type="hidden" name="id" value="{{bot.id}}">
                                    <input type="text" class="form-control" name="name" value="{{bot.name}}">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="submit">Сохранить</button>
                                    <button type="button" class="btn btn-secondary btn-block"
                                            data-dismiss="modal">Отменить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Создать бота-->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Добавить нового бота</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert')}}" method="POST">
                                <div class="form-group">
                                    <label>Название/ID бота</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="image">
                                        <option disabled>Выберите мессенджер</option>
                                        <option value="static/img/telegram.svg" selected>Telegram</option>
                                        <option value="static/img/vk.svg">VK</option>
                                        <option value="static/img/facebook.svg">Facebook</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="submit">Сохранить</button>
                                    <button type="button" class="btn btn-secondary btn-block"
                                        data-dismiss="modal">Отменить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}